    <!-- Navigation -->
	<section id="navigation" class="not-visible-nav white-nav">
		<!-- Navigation Inner -->
		<div class="nav-inner">
			<!-- Site Logo -->
			<div class="site-logo">
				<a href="#home" class="scroll logo">
					<!-- My Logo -->
					<img src="{{ site.baseurl }}/{{ 'assets/img/logo-icon.png' }}" alt="bing cherry in a thought bubble logo" />
				</a>
			</div><!-- End Site Logo -->
			<a class="mini-nav-button dark"><i class="fa fa-bars"></i></a>
			<!-- Navigation Menu -->
			<div class="nav-menu">
				<ul class="nav uppercase condensed bold">
					<li><a href="#home" class="scroll">home</a></li>
					<li><a href="#about" class="scroll">profile</a></li>
					<li><a href="#services" class="scroll">skills</a></li>
					<li><a href="#features" class="scroll">web superpowers</a></li>
					<li class="nav-item"><a href="{{ site.baseurl }}/portfolio">the portfolio</a></li>
					<li  class="nav-item"><a href="{{ site.baseurl }}/pastime/">muses</a></li>
					<li class="nav-item"><a href="{{ site.baseurl }}/contact/">contact</a></li>
				</ul>
			</div><!-- End Navigation Menu -->
		</div><!-- End Navigation Inner -->
	</section><!-- End Navigation Section -->
