	<!-- JS Files -->
	
	<script type="text/javascript" src="http://oxygen.goldeyestheme.com/oxygen/js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="http://oxygen.goldeyestheme.com/oxygen/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://oxygen.goldeyestheme.com/oxygen/js/jquery.appear.js"></script>
	<script type="text/javascript" src="http://oxygen.goldeyestheme.com/oxygen/js/waypoints.min.js"></script>
	<script type="text/javascript" src="http://oxygen.goldeyestheme.com/oxygen/js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="http://oxygen.goldeyestheme.com/oxygen/js/modernizr-latest.js"></script>
	<script type="text/javascript" src="http://oxygen.goldeyestheme.com/oxygen/js/SmoothScroll.js"></script>
	<script type="text/javascript" src="http://oxygen.goldeyestheme.com/oxygen/js/jquery.parallax-1.1.3.js"></script>
	<script type="text/javascript" src="http://oxygen.goldeyestheme.com/oxygen/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="http://oxygen.goldeyestheme.com/oxygen/js/jquery.superslides.js"></script>
	<script type="text/javascript" src="http://oxygen.goldeyestheme.com/oxygen/js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="http://oxygen.goldeyestheme.com/oxygen/js/jquery.isotope.js"></script>
	<script type="text/javascript" src="http://oxygen.goldeyestheme.com/oxygen/js/jquery.mb.YTPlayer.js"></script>
	<script type="text/javascript" src="http://oxygen.goldeyestheme.com/oxygen/js/jquery.fitvids.js"></script>
	<script type="text/javascript" src="http://oxygen.goldeyestheme.com/oxygen/js/jquery.slabtext.js"></script>
	<script type="text/javascript" src="http://oxygen.goldeyestheme.com/oxygen/js/plugins.js"></script>

	<!-- end JS files -->
